.Burger{
  width: 100;
  margin: auto;
  max-height: 250px;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em
}

@media only screen and (min-width: 500px) and (min-height: 401px){
  .Burger{
    width: 450px;
    height: 450px
  }
}

